.App {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  width: 12.5rem;
}

.reset {
  background-color: #bad7f9;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Monserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
